<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/staticFiles/style.css">

</head>
<body>
    <div class="chat-box">
        <div class="chatbox-header">ChatBot</div>
        <div class="chat">
        
        </div>
    

         <div>
            <form>
                <input type="text" placeholder="Insira seu nome">
                <input type="text" placeholder="Insira sua mensagem">
                <button type="submit">Enviar</button>
            </form>
         </div>
    </div>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="/staticFiles/script.js">
    </script>
</body>
</html>